name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo dist
        uses: taiki-e/cargo-dist@v0.24.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
