name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-dist
        run: cargo install cargo-dist --version 0.30.3 --locked

      - name: Cargo dist
        run: dist build --ci github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
